.footer{
    width: 100%;
    height: 80px;
    background-color: #D3D3C9;
}   

.footer p {
    font-family: "Rubik-Bold";
    font-size: 14px;
}
.redes-sociais li{
    display: inline-block;
    padding-left: 7px;

}
.redes-sociais a img {
     width: 90%;
}
