.footer{
    width: 100%;
    height: 80px;
    background-color: #D3D3C9;
}   

.footer p {
    font-family: "Rubik-Bold";
    font-size: 14px;
}
.redes-sociais li{
    display: inline-block;
    padding-left: 7px;

}
.redes-sociais a img {
     width: 90%;
}

@media (min-width:361px) and (max-width: 414px) {

    .redes-sociais {
        display: flex;
    }

    .redes-sociais li img {
        width: 100%;
    }
    
}

@media (min-width:321px) and (max-width: 360px) {
    .redes-sociais {
        display: flex;
    }

    .redes-sociais li img {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .redes-sociais {
        display: flex;
    }

    .redes-sociais li img {
        width: 100%;
    }
}

@media (max-width: 768px) {

    .redes-sociais {
        display: flex;
    }

    .redes-sociais li img {
        width: 100%;
    }
}    

