.questoes {
  width: 45%;
  height: 660px;
  background-color: #69d1eb;
  margin-top: 90px;
  padding-bottom: 50px;
  

}

.checado {
  display: none;
}

.resp {
  visibility: hidden;
}

.quest-1 h2 {
  color: #204d77;
  text-align: center;
  padding-top: 120px;
  font-family: "Lora-Bold";
  font-size: 18px;
}

.quest-2 h2 {
  color: #204d77;
  text-align: center;
  padding-top: 120px;
  font-family: "Lora-Bold";
  font-size: 18px;
}

.quest-3 h2 {
  color: #204d77;
  text-align: center;
  padding-top: 120px;
  font-family: "Lora-Bold";
  font-size: 18px;
}


.opcoes-resp {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 90px 0;
  justify-content: center;
}

.opcoes-resp li {
  text-align: center;
}

.titulo-box {
  margin: 0;
  padding: 0;
}

.box {
  background-color: #fff;
  border-radius: 8px;
  width: 118px;
  height: 111px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.opcoes-resp h3 {
  color: #204d77;
  font-family: "Lora-Bold";
  font-size: 18px;

}

.tick {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(78,221,184,0.6);
}

.espaco-botao {
  margin: auto;
  width: 95%;
}
.espaco-botao button {
  width: 100%;
  font-family: "Rubik-bold";
  font-size: 24px;
  display: block;
  background-color: #204d77;
  color: #fff;
  border: 0;
  height: 40px;
}

.barra-progresso {
  text-align: center;
  padding: 20px 0;
}

progress {
  border-radius: 2px;
  width: 95%;
  height: 22px;
  margin-left: 0%;
}

progress::-webkit-progress-value {
  background-color: #204d77;
}

progress::-webkit-progress-bar {
background-color: #FFF;
border-radius: 2px;
}

.formulario-final {
  width: 70%;
  margin: auto;
  padding-top: 50px;

}

.formulario-final label {
  color: #204d77;
  padding-top: 10px;
  display: inline-block;
  font-family: "Lora-Bold";
  font-size: 18px;
}

.formulario-final input, .formulario-final textarea{
  width: 100%;
  border: 3px solid #204d77;
  background-color: #d3d3c9;
}

.formulario-final textarea {
  margin-bottom: 30px;
}

.agradecimento {
  text-align: center;
  display: flex;
  height: 574px;
  align-items: center;
}

@media (min-width: 934px) and (max-width: 1422px) {
   
  .box {
      width: 93px;
      margin: 0 5px;
  }    
}

@media (max-width: 933px) {
  .box {
      width: 75px;
      margin: 0 5px;
  }    
}

@media (max-width: 811px) {
  .box {
      width: 65px;
      margin: 0 5px;
  }    
}

@media (min-width:361px) and (max-width: 414px) {
  
  .box {
    width: 190px;
    
  }
}

@media (max-width: 768px) {
 
  .box {
      width: 100px;
  }
}





@media (min-width:321px) and (max-width: 360px) {
  .questoes {
    width: 91%;
    height: auto;
  }
  .box {
    width: 164px;
    
  }
} 
@media (max-width: 320px) {
  .questoes {
    width: 93%;
    height: auto;
  }    
  .box {
    width: 139px;
    
  }
}  

@media (max-width: 768px) {
  
  .questoes {
      width: 100%;
  }
}

@media (min-width:360px) and (max-width: 414px) {
  .questoes {
    width: 94%;
    height: auto;
  }
}

