body {
  margin:0;
  padding: 0;
}

@font-face{
	font-family:"Lora-Regular"; 
	src: url(./assets/font/Lora-Regular.ttf);
	font-weight: normal;
  	font-style: normal;
}

@font-face{
	font-family:"Lora-Bold"; 
	src: url(./assets/font/Lora-Bold.ttf);
	font-weight: bold;
  	font-style: normal;
}

@font-face{
	font-family:"Rubik-Bold"; 
	src: url(./assets/font/Rubik-Bold.ttf);
}