.banner {
  width: 50%;
}

.container-banner {
  width: 80%;
  margin: 0 auto;
}

.container-banner h2, .container-banner p {
  color: #fff;
}

.container-banner h2 {
  font-family:"Lora-Bold";
  font-size: 18px;
}

.container-banner p {
  font-family: "Lora-Bold";
  font-size: 24px;
}

.container-banner h1 {
  color: #69d1eb;
  font-family: "Rubik-Bold";
  font-size: 36px;
}

@media (max-width: 768px) {
  .content-principal {
      flex-direction: column;
  }
  .banner {
      width: 100%;
      padding-top: 30px;
  }
  
}




